<div class="container-fluid bg-success text-white">
  <div class="row p-5 mt-5">
    <div class="col">
      <h4>Importent Link</h4>
      <ul>
        <li>Register</li>
        <li>Showdata</li>
        <li>Contact</li>
        <li>Info</li>
      </ul>
    </div>
    <div class="col">
      <h4>Follow Us</h4>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-instagram"></i>
      <br>
       </div>
       <div class="col">
        <address>
          <h4>address</h4>
           near bsnl tower,<br>
           company name,<br>
           mob:6586856<br>
         </address>
       </div>
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.547617592984!2d73.94008887335215!3d18.549334268298654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c3da01faae0d%3A0x13fc6c562a23c005!2sKharadi%20South%20Main%20Road%2C%20Kharadi%2C%20Maharashtra%20411014!5e0!3m2!1sen!2sin!4v1734517848255!5m2!1sen!2sin" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>